<app-navbar>
	<button class="btn btn-outline-light font-weight-bold my-2 my-sm-0" [routerLink]="['']">Search user</button>
</app-navbar>

<div class="row">

	<div class="col-md-3 my-2">
		<app-profile [user]="user"></app-profile>
	</div>

	<div class="col-md-6 my-2">
		<app-repository *ngFor="let repository of user.repositories" [repository]="repository"></app-repository>
	</div>

	<div class="col-md-3 my-2">
		<div class="card">
			<div class="card-header">Followers</div>
			<div class="card-body">
				<ul class="list-group">
					<app-follower *ngFor="let follower of user.followers" [follower]="follower"></app-follower>
				</ul>
			</div>
		</div>
	</div>

</div>