<li class="media rounded my-2">
  <img class="align-self-center mr-3 avatar" [src]="follower.avatar_url" alt="Avatar">
  <div class="media-body">
    <h5 class="mt-0 mb-1">{{ follower.login }}</h5>
  </div>
</li>