<div class="card">
  <img class="card-img-top" [src]="user.avatar_url" alt="Avatar">
  <div class="card-body">
    <h4 class="card-title mb-0">{{ user.name }}</h4>
    <p class="card-text text-muted">{{ user.login }}</p>
    <p class="card-text">{{ user.bio }}</p>
    <a class="btn btn-primary" [href]="user.html_url" target="blank">View on GitHub</a>
  </div>
</div>