<app-navbar>
  <form class="form-inline flex-grow-1">
    <input class="form-control w-100" type="search" placeholder="Search a user" (keyup)="debounce.next($event.target.value)">
  </form>
</app-navbar>

<ul class="list-group" *ngIf="users.length || !notFound; else notFoundTemplate">
  <a class="media border border-primary rounded p-2 my-2" *ngFor="let user of users" [routerLink]="['user', user.login]">
    <img class="align-self-center mr-3 avatar" [src]="user.avatar_url" alt="Avatar">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ user.login }}</h5>
    </div>
  </a>
</ul>

<ng-template #notFoundTemplate>
  <h4 class="text-center text-muted">User not found</h4>
</ng-template>