<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ repository.name }}</h5>
    <p class="card-text">{{ repository.description }}</p>
    <a class="card-link" [href]="repository.html_url" target="blank">View on GitHub</a>
    <button class="btn btn btn-link card-link" ngxClipboard [cbContent]="'git clone ' + repository.clone_url">Copy clone command to clipboard</button>
  </div>
</div>